<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script src="https://kit.fontawesome.com/ab3b3eb0f3.js" crossorigin="anonymous"></script>
</head>
<body>
<div>
    <h2> Login </h2>
</div>
<div>
    <form method="post" action="/login" >
        <div>
            <div>
                <input name="email" type="text" placeholder="Email or phone number">
            </div>
            <div>
                <input name="password" type="password" placeholder="Password">

            </div>
        </div>
        <div>
            <button type="submit" >Đăng nhập</button>
        </div>

    </form>
</div>

</body>
</html>
